<div class="recipe-jumbo jumbotron shadow-z-1">
  <h1>Add Recipe</h1>
</div>

<form id="create-recipe">
  <div id="form-container" class="well col-lg-7 center-block clearfix">
    <div id="airports-container" class="clearfix col-lg-12">

      <div class="col-lg-5">
        <div class="form-group col-lg-12">
          <input id="origin-airport" type="text" class="form-control floating-label form-input" placeholder="Origin"/>
        </div>
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-5">
        <div class="form-group col-lg-12">

          <input id="destination-airport" type="text" class="form-control floating-label form-input"
                 placeholder="Destination"/>
        </div>
      </div>

    </div>

    <div class="form-group col-lg-12">
      <input id="name" type="text" class="form-control floating-label form-input" placeholder="Name"/>
    </div>
    <div class="form-group col-lg-12">
      <input id="description" type="text" class="form-control floating-label form-input" placeholder="Description"/>
    </div>
    <div class="form-group col-lg-12">
      <input id="min-date" type="text" fb-datepicker ng-model="minDate" class="form-control floating-label form-input"
             placeholder="Start Date" ng-init="minDate=''"/>
    </div>
    <div class="form-group col-lg-12">
      <input id="max-date" type="text" fb-datepicker ng-model="maxDate" class="form-control floating-label form-input"
             placeholder="End Date" ng-init="maxDate=''"/>
    </div>

    <div id="durations-container" class="clearfix col-lg-12">

      <div class="col-lg-6">
        <div class="form-group col-lg-12">
          <input id="min-duration" type="number" class="form-control floating-label form-input"
                 placeholder="Minimum Duration (Days)"/></div>
      </div>

      <div class="col-lg-6">
        <div class="form-group col-lg-12">

          <input id="max-duration" type="number" class="form-control floating-label form-input"
                 placeholder="Maximum Duration (Days)"/>
        </div>
      </div>
    </div>
  </div>
</form>

